<div class="page post">

  @if (blog) {
    <article reveal>
      <a class="back-link" routerLink="/writing">Back to writing</a>

      <header class="post-head">
        <time class="post-date" [attr.datetime]="blog.date">{{ blog.date | date:'d MMMM y' }}</time>
        <h1 class="page-title">{{ blog.title }}</h1>
      </header>

      @if (blog.image) {
        <figure class="post-figure">
          <img [src]="blog.image" [alt]="blog.title">
        </figure>
      }

      <div class="prose post-body">
        @if (blog.body && blog.body.length) {
          @for (paragraph of blog.body; track $index) {
            <p>{{ paragraph }}</p>
          }
        } @else {
          <p>{{ blog.excerpt }}</p>
        }
      </div>
    </article>
  } @else {
    <div class="page-head">
      <h1 class="page-title">Not found.</h1>
      <p class="page-lede">That post does not exist, or has not been written yet.</p>
    </div>
    <a class="btn" routerLink="/writing">Back to writing</a>
  }

</div>
